DISCORD_TOKEN=
GUILD_ID=
GROQ_API_KEY=
CONFLICT_CHANNEL_ID=
STATUS_CHANNEL_ID=
LOGS_CHANNEL_ID=
CRITICAL_CHANNEL_ID=
COMMAND_CENTER_ID=
OSINT_HITS_CHANNEL_ID=
MISSION_LOGS_CHANNEL_ID=
REGION_MEDIO_ORIENTE_ID=
REGION_EUROPA_ID=
REGION_AFRICA_ID=
REGION_ASIA_ID=
REGION_AMERICAS_ID=